{% load humanize %}

{% for product in products %}
{% if product.stock %}
<div class="col-6 col-sm-6 col-md-4 col-lg-4 item">
    <!-- start product image -->
    <div class="product-image">
        <!-- start product image -->
        <a href="{{ product.get_absolute_url }}" class="product-img">
            <!-- image -->
            <img class="primary blur-up lazyload" data-src="{{ product.img1.url }}" src="{{ product.img1.url }}" alt="{{ product.name }}" title="{{ product.name }}">
            <!-- End image -->
            <!-- Hover image -->
            <img class="hover blur-up lazyload" data-src="{{ product.img2.url }}" src="{{ product.img2.url }}" alt="{{ product.name }}" title="{{ product.name }}">
            <!-- End hover image -->

            <!-- product label -->
            {% if product.is_discount %}
                <div class="product-labels"><span class="lbl on-sale">Sale</span></div>
            {% elif product.views > 100 %}
                <div class="product-labels"><span class="lbl pr-label2">Hot</span></div>
            {% elif product.get_new_product %}
                <div class="product-labels"><span class="lbl pr-label1">New</span></div>
            {% endif %}
            <!-- End product label -->
        </a>
        <!-- end product image -->
    </div>
    <!-- end product image -->

        <!--start product details -->
    <div class="product-details text-left">

        <!-- product price -->
        <div class="product-price">
            {% if product.is_discount %}
            <a href="{{ product.get_absolute_url }}"><p class="product-price grid-view-item__meta">
                <span class="new_price">{{ product.discount_price | intcomma }} &#8376;</span>
                <span class="old-price">{{ product.price | intcomma }}</span>
            </p></a>
            {% else %}
            <a href="{{ product.get_absolute_url }}"><p class="product-price grid-view-item__meta ">
                <span class="price">{{ product.price | intcomma }} &#8376;</span>
            </p></a>
            {% endif %}
        </div>
        <!-- End product price -->

        <!-- product name -->
        <div class="product-name">
            <a href="{{ product.get_absolute_url }}">{{ product.brand }} / <span class="product-name">{{ product.category.name_for_product }}{% if product.name_of_model %} - {{ product.name_of_model }}{% endif %}</span></a>
        </div>
        <!-- End product name -->
    </div>
    <!-- End product details -->
</div>
{% endif %}
{% endfor %}
