{% load static %}
<!--<div class="col-lg-6 col-md-6 col-sm-12 col-12">-->
<!--    <div class="product-details-img product-horizontal-style">-->
<!--        <div class="zoompro-wrap product-zoom-right pl-20">-->
<!--            <div class="zoompro-span">-->
<!--                <img id="zoompro" class="zoompro prlightbox" src="{{ product.img1.url }}" data-zoom-image="{{ product.im1.url }}" alt="{{ product.name }}">-->
<!--            </div>-->
<!--            &lt;!&ndash; product label &ndash;&gt;-->
<!--            {% if product.is_discount %}-->
<!--                <div class="product-labels"><span class="lbl on-sale">Sale</span></div>-->
<!--            {% elif product.views > 100 %}-->
<!--                <div class="product-labels"><span class="lbl pr-label2">Hot</span></div>-->
<!--            {% elif product.get_new_product %}-->
<!--                <div class="product-labels"><span class="lbl pr-label1">New</span></div>-->
<!--            {% endif %}-->
<!--            &lt;!&ndash; End product label &ndash;&gt;-->

<!--            <div class="product-buttons">-->
<!--                <a href="{{ product.img1.url }}" class="btn prlightbox" title="Увеличить">-->
<!--                    <i class="icon anm anm-expand-l-arrows" aria-hidden="true"></i>-->
<!--                    <span class="tooltip-label">Увеличить изображение</span>-->
<!--                </a>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="product-thumb product-horizontal-thumb">-->
<!--            <div id="gallery" class="product-thumb-style1">-->
<!--                <a data-image="{{ product.img1.url }}" data-zoom-image="{{ product.img1.url }}" class="slick-slide slick-cloned" data-slick-index="-4" aria-hidden="true" tabindex="-1">-->
<!--                    <img class="blur-up lazyload" data-src="{{ product.img1.url }}" src="{{ product.img1.url }}" alt="{{ product.name }}" />-->
<!--                </a>-->
<!--                <a data-image="{{ product.img2.url }}" data-zoom-image="{{ product.img2.url }}" class="slick-slide slick-cloned" data-slick-index="-3" aria-hidden="true" tabindex="-1">-->
<!--                    <img class="blur-up lazyload" data-src="{{ product.img2.url }}" src="{{ product.img2.url }}" alt="{{ product.name }}" />-->
<!--                </a>-->
<!--                {% for image in product_gallery %}-->
<!--                <a data-image="{{ image.image.url }}" data-zoom-image="{{ image.image.url }}" class="slick-slide slick-cloned" aria-hidden="true" data-slick-index="{% cycle -2 -1 0 1 2 3 4%}" tabindex="-1">-->
<!--                    <img class="blur-up lazyload" data-src="{{ image.image.url }}" src="{{ image.image.url }}" alt="{{ product.name }}" />-->
<!--                </a>-->
<!--                {% endfor %}-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="lightboximages">-->
<!--            <a href="{{ product.img1.url }}" data-size="1000x1280"></a>-->
<!--            <a href="{{ product.img2.url }}" data-size="1000x1280"></a>-->
<!--            {% for image in product_gallery %}-->
<!--            <a href="{{ image.image.url }}" data-size="1000x1280"></a>-->
<!--            {% endfor %}-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<div class="col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="product-details-img product-horizontal-style">
        <div class="product-buttons">
            <a href="#" class="btn prlightbox" title="Zoom">
                <i class="icon anm anm-expand-l-arrows" aria-hidden="true"></i>
                <span class="tooltip-label">Zoom Image</span>
            </a>
        </div>
        <div class="product-center-style3">
            <div class="zoompro-span">
                <img class="prlightbox" data-zoom-image="{{ product.img1.url }}" src="{{ product.img1.url }}" alt="{{ product.category.name_for_product }} / {{ product.brand }}">
            </div>
            <div class="zoompro-span">
                <img class="prlightbox" data-zoom-image="{{ product.img2.url }}" src="{{ product.img2.url }}" alt="{{ product.category.name_for_product }} / {{ product.brand }}" />
            </div>
            {% for image in product_gallery %}
            <div class="zoompro-span">
                <img class="prlightbox" data-zoom-image="{{ image.image.url }}" src="{{ image.image.url }}" alt="{{ product.category.name_for_product }} / {{ product.brand }}" />
            </div>
            {% endfor %}
        </div>
        <div class="lightboximages">
            <a href="{{ product.img1.url }}" data-size="1000x1280"></a>
            <a href="{{ product.img2.url }}" data-size="1000x1280"></a>
            {% for image in product_gallery %}
            <a href="{{ image.image.url }}" data-size="1000x1280"></a>
            {% endfor %}
        </div>
    </div>
</div>