{% extends 'base.html' %}

{% load static %}

{% block content %}

<div id="page-content">
    <!--Body Container-->
    <div class="container">
        <!--Hero Banner-->
        <div class="section no-pt-section no-pb-section hero-section">
            <div class="hero hero--large hero__overlay bg-size">
                <img class="bg-img" src="{% static 'assets/images/slideshow-banner/dome4-banner1.jpg' %}" alt="">
                <div class="hero__inner">
                    <div class="wrap-text center">
                        <span>Our core collection</span>
                        <h2 class="mega-title">Effortless Style</h2>
                        <div class="mega-subtitle"><p>We carry simple, wearable garments. Neutral colors. Natural fibres. Relaxed silhouettes. Effortless, everyday fashion.</p></div>
                        <a href="#" class="btn border-btn-1 btn--large">Browse All</a>
                    </div>
                </div>
            </div>
        </div>
        <!--End Hero Banner-->

        <!-- Banner Masonary-->
        <div class="imgBanners style2">
            <div class="grid-masonary banner-grid">
                <div class="grid-sizer col-12 col-sm-6 col-md-6 col-lg-6"></div>
                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 banner-item">
                            <div class="imgBanner-grid-item">
                                <div class="img">
                                    <a href="#">
                                        <img class="blur-up lazyload" data-src="{% static 'assets/images/collection-banner/demo4-collection-bnr1.jpg' %}" src="{% static 'assets/images/collection-banner/demo4-collection-bnr1.jpg' %}" alt="" title=" " />
                                    </a>
                                    <div class="details center w-50">
                                        <div class="inner">
                                            <h3 class="title">Shop the Edit</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 banner-item">
                            <div class="imgBanner-grid-item">
                                <div class="img">
                                    <a href="#">
                                        <img class="blur-up lazyload" data-src="{% static 'assets/images/collection-banner/demo4-collection-bnr1.jpg' %}" src="{% static 'assets/images/collection-banner/demo4-collection-bnr1.jpg' %}" alt="" title=" " />
                                    </a>
                                    <div class="details center w-50">
                                        <div class="inner">
                                            <h3 class="title">Shop the Best Sellers</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- End Banner Masonary-->
        <!--Featured Products-->
        <div class="section featured-grid no-pb-section">
            <div class="section-header">
                <h2>Featured Products</h2>
                <p>Shop our new arrivals from established brands</p>
            </div>
            <div class="grid-products style2">
                <div class="row">
                    <div class="col-12 col-sm-4 col-md-3 col-lg-3">
                        <div class="item">
                            <a class="overlay" href="product-layout-3.html"></a>
                            <!-- start product image -->
                            <div class="product-image">
                                <!-- start product image -->
                                <a href="product-layout-3.html" class="product-img">
                                    <!-- image -->
                                    <img class="blur-up lazyload" data-src="{% static 'assets/images/product-images/product1.jpg' %}" src="{% static 'assets/images/product-images/product1.jpg' %}" alt="" title="">
                                    <!-- End image -->
                                </a>
                                <!-- end product image -->
                            </div>
                            <!-- end product image -->
                            <!--start product details -->
                            <div class="product-details text-center">
                                <!-- product name -->
                                <div class="product-name">
                                    <a href="product-layout-3.html">Backpack With Contrast Bow</a>
                                </div>
                                <!-- End product name -->
                                <!-- product price -->
                                <div class="product-price">
                                    <span class="price">$99.01</span>
                                </div>
                                <!-- End product price -->
                                <!--Product Button-->
                                <div class="button-set">
                                    <ul>
                                        <li>
                                            <!--Cart Button-->
                                            <form class="add" action="cart-variant1.html" method="post">
                                                <button class="btn-icon btn btn-addto-cart" type="button" tabindex="0">
                                                    <i class="icon anm anm-cart-l"></i>
                                                    <span class="tooltip-label">Add to Cart</span>
                                                </button>
                                            </form>
                                            <!--end Cart Button-->
                                        </li>
                                        <li>
                                            <!--Quick View Button-->
                                            <a href="javascript:void(0)" title="Quick View" class="btn-icon quick-view-popup quick-view" data-toggle="modal" data-target="#content_quickview">
                                                <i class="icon anm anm-search-plus-l"></i>
                                                <span class="tooltip-label">Quick View</span>
                                            </a>
                                            <!--End Quick View Button-->
                                        </li>
                                        <li>
                                            <!--Wishlist Button-->
                                            <div class="wishlist-btn">
                                                <a class="btn-icon wishlist add-to-wishlist" href="my-wishlist.html">
                                                    <i class="icon anm anm-heart-l"></i>
                                                    <span class="tooltip-label">Add To Wishlist</span>
                                                </a>
                                            </div>
                                            <!--End Wishlist Button-->
                                        </li>
                                    </ul>
                                </div>
                                <!--End Product Button-->
                            </div>
                            <!-- End product details -->
                        </div>
                        <div class="item">
                                    <a class="overlay" href="product-layout-3.html"></a>
                                    <!-- start product image -->
                                    <div class="product-image">
                                        <!-- start product image -->
                                        <a href="product-layout-3.html" class="product-img">
                                            <!-- image -->
                                            <img class="blur-up lazyload" data-src="{% static 'assets/images/product-images/product1.jpg' %}" src="{% static 'assets/images/product-images/product1.jpg' %}" alt="" title="">
                                            <!-- End image -->
                                        </a>
                                        <!-- end product image -->
                                    </div>
                                    <!-- end product image -->
                                    <!--start product details -->
                                    <div class="product-details text-center">
                                        <!-- product name -->
                                        <div class="product-name">
                                            <a href="product-layout-3.html">Button Up Top Black</a>
                                        </div>
                                        <!-- End product name -->
                                        <!-- product price -->
                                        <div class="product-price">
                                            <span class="price">$199.01</span>
                                        </div>
                                        <!-- End product price -->
                                        <!--Product Button-->
                                        <div class="button-set">
                                            <ul>
                                                <li>
                                                    <!--Cart Button-->
                                                    <form class="add" action="cart-variant1.html" method="post">
                                                        <button class="btn-icon btn btn-addto-cart" type="button" tabindex="0">
                                                            <i class="icon anm anm-cart-l"></i>
                                                            <span class="tooltip-label">Add to Cart</span>
                                                        </button>
                                                    </form>
                                                    <!--end Cart Button-->
                                                </li>
                                                <li>
                                                    <!--Quick View Button-->
                                                    <a href="javascript:void(0)" title="Quick View" class="btn-icon quick-view-popup quick-view" data-toggle="modal" data-target="#content_quickview">
                                                        <i class="icon anm anm-search-plus-l"></i>
                                                        <span class="tooltip-label">Quick View</span>
                                                    </a>
                                                    <!--End Quick View Button-->
                                                </li>
                                                <li>
                                                    <!--Wishlist Button-->
                                                    <div class="wishlist-btn">
                                                        <a class="btn-icon wishlist add-to-wishlist" href="my-wishlist.html">
                                                            <i class="icon anm anm-heart-l"></i>
                                                            <span class="tooltip-label">Add To Wishlist</span>
                                                        </a>
                                                    </div>
                                                    <!--End Wishlist Button-->
                                                </li>
                                            </ul>
                                        </div>
                                        <!--End Product Button-->
                                    </div>
                                    <!-- End product details -->
                                </div>
                    </div>
                    <div class="col-12 col-sm-4 col-md-6 col-lg-6">
                        <div class="item">
                            <a class="overlay" href="product-layout-3.html"></a>
                            <!-- start product image -->
                            <div class="product-image">
                                <!-- start product image -->
                                <a href="product-layout-3.html" class="product-img">
                                    <!-- image -->
                                    <img class="blur-up lazyload" data-src="{% static 'assets/images/product-images/product1.jpg' %}" src="{% static 'assets/images/product-images/product1.jpg' %}" alt="" title="">
                                    <!-- End image -->
                                </a>
                                <!-- end product image -->
                            </div>
                            <!-- end product image -->
                            <!--start product details -->
                            <div class="product-details text-center">
                                <!-- product name -->
                                <div class="product-name">
                                    <a href="product-layout-3.html">Sunset Sleep Scarf Top</a>
                                </div>
                                <!-- End product name -->
                                <!-- product price -->
                                <div class="product-price">
                                    <span class="price">$99.01</span>
                                </div>
                                <!-- End product price -->
                                <!--Product Button-->
                                <div class="button-set">
                                    <ul>
                                        <li>
                                            <!--Cart Button-->
                                            <form class="add" action="cart-variant1.html" method="post">
                                                <button class="btn-icon btn btn-addto-cart" type="button" tabindex="0">
                                                    <i class="icon anm anm-cart-l"></i>
                                                    <span class="tooltip-label">Add to Cart</span>
                                                </button>
                                            </form>
                                            <!--end Cart Button-->
                                        </li>
                                        <li>
                                            <!--Quick View Button-->
                                            <a href="javascript:void(0)" title="Quick View" class="btn-icon quick-view-popup quick-view" data-toggle="modal" data-target="#content_quickview">
                                                <i class="icon anm anm-search-plus-l"></i>
                                                <span class="tooltip-label">Quick View</span>
                                            </a>
                                            <!--End Quick View Button-->
                                        </li>
                                        <li>
                                            <!--Wishlist Button-->
                                            <div class="wishlist-btn">
                                                <a class="btn-icon wishlist add-to-wishlist" href="my-wishlist.html">
                                                    <i class="icon anm anm-heart-l"></i>
                                                    <span class="tooltip-label">Add To Wishlist</span>
                                                </a>
                                            </div>
                                            <!--End Wishlist Button-->
                                        </li>
                                    </ul>
                                </div>
                                <!--End Product Button-->
                            </div>
                            <!-- End product details -->
                        </div>
                    </div>
                    <div class="col-12 col-sm-4 col-md-3 col-lg-3">
                        <div class="item">
                            <a class="overlay" href="product-layout-3.html"></a>
                            <!-- start product image -->
                            <div class="product-image">
                                <!-- start product image -->
                                <a href="product-layout-3.html" class="product-img">
                                    <!-- image -->
                                    <img class="blur-up lazyload" data-src="{% static 'assets/images/product-images/product1.jpg' %}" src="{% static 'assets/images/product-images/product1.jpg' %}" alt="" title="">
                                    <!-- End image -->
                                </a>
                                <!-- end product image -->
                            </div>
                            <!-- end product image -->
                            <!--start product details -->
                            <div class="product-details text-center">
                                <!-- product name -->
                                <div class="product-name">
                                    <a href="product-layout-3.html">Top Slip On Velcro Sneakers</a>
                                </div>
                                <!-- End product name -->
                                <!-- product price -->
                                <div class="product-price">
                                    <span class="price">$99.01</span>
                                </div>
                                <!-- End product price -->
                                <!--Product Button-->
                                <div class="button-set">
                                    <ul>
                                        <li>
                                            <!--Cart Button-->
                                            <form class="add" action="cart-variant1.html" method="post">
                                                <button class="btn-icon btn btn-addto-cart" type="button" tabindex="0">
                                                    <i class="icon anm anm-cart-l"></i>
                                                    <span class="tooltip-label">Add to Cart</span>
                                                </button>
                                            </form>
                                            <!--end Cart Button-->
                                        </li>
                                        <li>
                                            <!--Quick View Button-->
                                            <a href="javascript:void(0)" title="Quick View" class="btn-icon quick-view-popup quick-view" data-toggle="modal" data-target="#content_quickview">
                                                <i class="icon anm anm-search-plus-l"></i>
                                                <span class="tooltip-label">Quick View</span>
                                            </a>
                                            <!--End Quick View Button-->
                                        </li>
                                        <li>
                                            <!--Wishlist Button-->
                                            <div class="wishlist-btn">
                                                <a class="btn-icon wishlist add-to-wishlist" href="my-wishlist.html">
                                                    <i class="icon anm anm-heart-l"></i>
                                                    <span class="tooltip-label">Add To Wishlist</span>
                                                </a>
                                            </div>
                                            <!--End Wishlist Button-->
                                        </li>
                                    </ul>
                                </div>
                                <!--End Product Button-->
                            </div>
                            <!-- End product details -->
                        </div>
                        <div class="item">
                                    <a class="overlay" href="product-layout-3.html"></a>
                                    <!-- start product image -->
                                    <div class="product-image">
                                        <!-- start product image -->
                                        <a href="product-layout-3.html" class="product-img">
                                            <!-- image -->
                                            <img class="blur-up lazyload" data-src="{% static 'assets/images/product-images/product1.jpg' %}" src="{% static 'assets/images/product-images/product1.jpg' %}" alt="" title="">
                                            <!-- End image -->
                                        </a>
                                        <!-- end product image -->
                                    </div>
                                    <!-- end product image -->
                                    <!--start product details -->
                                    <div class="product-details text-center">
                                        <!-- product name -->
                                        <div class="product-name">
                                            <a href="product-layout-3.html">Crop Top Green</a>
                                        </div>
                                        <!-- End product name -->
                                        <!-- product price -->
                                        <div class="product-price">
                                            <span class="price">$59.00</span>
                                        </div>
                                        <!-- End product price -->
                                        <!--Product Button-->
                                        <div class="button-set">
                                            <ul>
                                                <li>
                                                    <!--Cart Button-->
                                                    <form class="add" action="cart-variant1.html" method="post">
                                                        <button class="btn-icon btn btn-addto-cart" type="button" tabindex="0">
                                                            <i class="icon anm anm-cart-l"></i>
                                                            <span class="tooltip-label">Add to Cart</span>
                                                        </button>
                                                    </form>
                                                    <!--end Cart Button-->
                                                </li>
                                                <li>
                                                    <!--Quick View Button-->
                                                    <a href="javascript:void(0)" title="Quick View" class="btn-icon quick-view-popup quick-view" data-toggle="modal" data-target="#content_quickview">
                                                        <i class="icon anm anm-search-plus-l"></i>
                                                        <span class="tooltip-label">Quick View</span>
                                                    </a>
                                                    <!--End Quick View Button-->
                                                </li>
                                                <li>
                                                    <!--Wishlist Button-->
                                                    <div class="wishlist-btn">
                                                        <a class="btn-icon wishlist add-to-wishlist" href="my-wishlist.html">
                                                            <i class="icon anm anm-heart-l"></i>
                                                            <span class="tooltip-label">Add To Wishlist</span>
                                                        </a>
                                                    </div>
                                                    <!--End Wishlist Button-->
                                                </li>
                                            </ul>
                                        </div>
                                        <!--End Product Button-->
                                    </div>
                                    <!-- End product details -->
                                </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Featured Products-->

    </div><!--End Body Container-->
</div><!--End Page Wrapper-->
{% endblock content %}