{% load static %}
<!--Header-->
    <header class="header animated d-flex align-items-center header-4">
	    <div class="container">
            <div class="row">
            	<!--Mobile Icons-->
            	<div class="col-4 col-sm-4 col-md-4 d-block d-lg-none mobile-icons">
                    <!--Mobile Toggle-->
                    <button type="button" class="btn--link site-header__menu js-mobile-nav-toggle mobile-nav--open">
                        <i class="icon anm anm-times-l"></i>
                        <i class="anm anm-bars-r"></i>
                    </button>
                    <!--End Mobile Toggle-->
                    <!--Search-->
                    <div class="site-search iconset">
                        <i class="icon anm anm-search-l"></i>
                    </div>
                    <!--End Search-->
                </div>
                <!--Mobile Icons-->

                <!--Desktop Logo-->
                <div class="logo col-4 col-sm-4 col-md-4 col-lg-2 align-self-center">
                    <a href="{% url 'home' %}">
                        <img src="{% static 'assets/images/footer-logo.png' %}" alt="Mila&Iris" title="Mila&Iris" />
                    </a>
                </div>
                <!--End Desktop Logo-->

                <div class="col-1 col-sm-1 col-md-1 col-lg-8 align-self-center d-menu-col">
                    <!--Desktop Menu-->
                    <nav class="grid__item" id="AccessibleNav">
                        <ul id="siteNav" class="site-nav medium center hidearrow">
                            {% for category in links %}
                            <li><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></li>
                            {% endfor %}
                            <li><a href="{% url 'sales' %}">Скидки</a></li>
                        </ul>
                    </nav>
                </div>
                <!--End Desktop Menu-->

                <div class="col-4 col-sm-4 col-md-4 col-lg-2 align-self-center icons-col text-right">
                    <!--Search-->
                    <div class="site-search iconset">
                        <i class="icon anm anm-search-l"></i>
                    </div>
                    <div class="search-drawer">
                    	<div class="container">
                            <span class="closeSearch anm anm-times-l"></span>
                            <h3 class="title">Что Вы ищите?</h3>
                            <div class="block block-search">
                                <div class="block block-content">
                                    <form class="form minisearch" id="header-search" action="{% url 'search' %}" method="GET">
                                        <label for="search" class="label"><span>Search</span></label>
                                        <div class="control">
                                            <div class="searchField">
                                                <div class="input-box">
                                                    <input id="search" type="text" name="keyword" placeholder="Поиск продуктов, брендов ..." class="input-text">
                                                    <button type="submit" title="Поиск" class="action search"><i class="icon anm anm-search-l"></i></button>
                                                </div>
                                            </div>
                                      </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Search-->
                    <!--Setting Dropdown-->
                    {% if user.id is None %}
                    <div class="setting-link iconset">
                    	<i class="icon icon-settings"></i>
                    </div>
                    <div id="settingsBox">
                    	<div class="customer-links">
                        	<p><a href="{% url 'login' %}" class="btn">Войти</a></p>
                            <p class="text-center"><a href="{% url 'register' %}" class="register">Создать новый аккаунт</a></p>
                        </div>
                   	</div>
                    {% else %}
                    <div class="setting-link iconset">
                    	<i class="icon icon-settings"></i>
                    </div>
                    <div id="settingsBox">
                    	<div class="customer-links">
                            <p class="text-center">Здравствуйте, <a href="{% url 'dashboard' %}">{{ user.first_name }}</a></p>
                            <hr>
                            <p><a href="{% url 'logout' %}" class="btn">Выйти</a></p>
                        </div>
                   	</div>
                    <!--End Setting Dropdown-->
                    {% endif %}
                    <!--Minicart Dropdown-->
                    <div class="header-cart iconset">
<!--                        <a href="{% url 'cart' %}" class="site-header__cart btn-minicart" data-toggle="modal" data-target="#minicart-drawer">-->
                            <a href="{% url 'cart' %}"><i class="icon anm anm-bag-l"></i></a>
                            <span class="site-cart-count">{{ cart_count }}</span>
                        </a>
                    </div>
                    <!--End Minicart Dropdown-->
                </div>
            </div>
        </div>
    </header>
    <!--End Header-->

    <!--Mobile Menu-->
    <div class="mobile-nav-wrapper" role="navigation">
		<div class="closemobileMenu"><i class="icon anm anm-times-l pull-right"></i> Закрыть</div>
        <ul id="MobileNav" class="mobile-nav">
        	<li class="lvl1 parent megamenu"><a href="{% url 'home' %}">Главная</a>
            {% for category in links %}
                <li class="lvl1 parent megamenu"><a href="{{ category.get_absolute_url }}">{{ category.name }}<i class="anm anm-plus-l"></i></a>
                {% if category.id == 1 %}
                    <ul>
                    {% for cat in cloth_categories %}
                        <li><a href="{{ cat.get_absolute_url }}" class="site-nav">{{ cat.name }}</a></li>
                    {% endfor %}
                    </ul>
                {% elif category.id == 2 %}
                    <ul>
                    {% for cat in shoes_categories %}
                        <li><a href="{{ cat.get_absolute_url }}" class="site-nav">{{ cat.name }}</a></li>
                    {% endfor %}
                    </ul>
                {% elif category.id == 3 %}
                    <ul>
                    {% for cat in accessories_categories %}
                        <li><a href="{{ cat.get_absolute_url }}" class="site-nav">{{ cat.name }}</a></li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endfor %}
            <li><a href="{% url 'sales' %}">Скидки</a></li>
        </li>
      </ul>
	</div>
	<!--End Mobile Menu-->