<!DOCTYPE html>
<html class="no-js" lang="ru">

<head>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <title> Магазин Итальянской одежды</title>

  <meta name="description" content="description">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Favicon -->
  <link rel="shortcut icon" href="/static/assets/images/fav.png">

  <!-- Plugins CSS -->
  <link rel="stylesheet" href="/static/assets/css/plugins.css">

  <!-- Main Style CSS -->
  <link rel="stylesheet" href="/static/assets/css/style.css">
  <link rel="stylesheet" href="/static/assets/css/responsive.css">
  <link rel="stylesheet" href="/static/assets/css/custom.css">


</head>
<body class="template-index index-demo4">
<div id="pre-loader">
    <img src="/static/assets/images/loader.gif" alt="Загрузка">
</div>
<div class="page-wrapper">

<!--Header-->
    <header class="header animated d-flex align-items-center header-4">
	    <div class="container">
            <div class="row">
            	<!--Mobile Icons-->
            	<div class="col-4 col-sm-4 col-md-4 d-block d-lg-none mobile-icons">
                    <!--Mobile Toggle-->
                    <button type="button" class="btn--link site-header__menu js-mobile-nav-toggle mobile-nav--open">
                        <i class="icon anm anm-times-l"></i>
                        <i class="anm anm-bars-r"></i>
                    </button>
                    <!--End Mobile Toggle-->
                    <!--Search-->
                    <div class="site-search iconset">
                        <i class="icon anm anm-search-l"></i>
                    </div>
                    <!--End Search-->
                </div>
                <!--Mobile Icons-->

                <!--Desktop Logo-->
                <div class="logo col-4 col-sm-4 col-md-4 col-lg-2 align-self-center">
                    <a href="/">
                        <img src="/static/assets/images/avon-logo.svg" alt="Mila&Iris" title="Mila&Iris" />
                    </a>
                </div>
                <!--End Desktop Logo-->

                <div class="col-1 col-sm-1 col-md-1 col-lg-8 align-self-center d-menu-col">
                    <!--Desktop Menu-->
                    <nav class="grid__item" id="AccessibleNav">
                        <ul id="siteNav" class="site-nav medium center hidearrow">

                            <li><a href="/store/category/clothes/">Одежда</a></li>

                            <li><a href="/store/category/shoes/">Обувь</a></li>

                            <li><a href="/store/category/accessories/">Аксессуары</a></li>

                      </ul>
                    </nav>
                </div>
                <!--End Desktop Menu-->

                <div class="col-4 col-sm-4 col-md-4 col-lg-2 align-self-center icons-col text-right">
                    <!--Search-->
                    <div class="site-search iconset">
                        <i class="icon anm anm-search-l"></i>
                    </div>
                    <div class="search-drawer">
                    	<div class="container">
                            <span class="closeSearch anm anm-times-l"></span>
                            <h3 class="title">Что Вы ищите?</h3>
                            <div class="block block-search">
                                <div class="block block-content">
                                    <form class="form minisearch" id="header-search" action="/store/search/" method="GET">
                                        <label for="search" class="label"><span>Search</span></label>
                                        <div class="control">
                                            <div class="searchField">
                                                <div class="input-box">
                                                    <input id="search" type="text" name="keyword" placeholder="Поиск продуктов, брендов ..." class="input-text">
                                                    <button type="submit" title="Поиск" class="action search"><i class="icon anm anm-search-l"></i></button>
                                                </div>
                                            </div>
                                      </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Search-->
                    <!--Setting Dropdown-->

                    <div class="setting-link iconset">
                    	<i class="icon icon-settings"></i>
                    </div>
                    <div id="settingsBox">
                    	<div class="customer-links">
                        	<p><a href="/accounts/login/" class="btn">Войти</a></p>
                            <p class="text-center"><a href="/accounts/register/" class="register">Создать новый аккаунт</a></p>
                        </div>
                   	</div>

                    <!--Minicart Dropdown-->
                    <div class="header-cart iconset">
<!--                        <a href="/cart/" class="site-header__cart btn-minicart" data-toggle="modal" data-target="#minicart-drawer">-->
                            <a href="/cart/"><i class="icon anm anm-bag-l"></i></a>
                            <span class="site-cart-count">0</span>
                        </a>
                    </div>
                    <!--End Minicart Dropdown-->
                </div>
            </div>
        </div>
    </header>
    <!--End Header-->

    <!--Mobile Menu-->
    <div class="mobile-nav-wrapper" role="navigation">
		<div class="closemobileMenu"><i class="icon anm anm-times-l pull-right"></i> Закрыть</div>
        <ul id="MobileNav" class="mobile-nav">
        	<li class="lvl1 parent megamenu"><a href="/">Главная</a>

            <li class="lvl1 parent megamenu"><a href="/store/category/clothes/">Одежда</a>

            <li class="lvl1 parent megamenu"><a href="/store/category/shoes/">Обувь</a>

            <li class="lvl1 parent megamenu"><a href="/store/category/accessories/">Аксессуары</a>

        </li>
      </ul>
	</div>
	<!--End Mobile Menu-->

<div id="page-content">
    <!--Body Container-->

    <!--Breadcrumbs-->
<div class="breadcrumbs-wrapper">
    <div class="container">
        <div class="breadcrumbs"><a href="/" title="На главную">Главная</a>

            <span aria-hidden="true">|</span> <span><a href="/store/category/clothes/" title="К категории">Одежда</a></span></div>

    </div>
</div>
    <div class="container">
        <div class="row">
            <!--Sidebar-->
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 sidebar filterbar">
                <div class="closeFilter d-block d-md-none d-lg-none"><i class="icon icon anm anm-times-l"></i></div>
                <div class="sidebar_tags">

                    <!--Categories-->


<div class="sidebar_widget categories filter-widget">
    <div class="widget-title"><h2>Одежда</h2></div>
        <div class="widget-content" style="">
            <ul class="sidebar_categories">

            <li class="lvl-1"><a href="/store/category/dress/" class="site-nav">Платья</a></li>

            </ul>
    </div>
</div>

<div class="sidebar_widget categories">
    <div><h2><a href="/store/category/shoes/">Обувь</a></h2></div>
</div>

<div class="sidebar_widget categories">
    <div><h2><a href="/store/category/accessories/">Аксессуары</a></h2></div>
</div>


<!--End Categories-->




<!--Popular Products-->
<div class="margin-1">
  <div class="sidebar_widget sidePro">
      <div class="widget-title"><h2>Популярные продукты</h2></div>
      <div class="widget-content">
          <div class="sideProSlider grid-products">

          </div>
      </div>
  </div>
</div>

<!--End Popular Products-->

                    <!--Banner-->
                    <div class="sidebar_widget static-banner">
                        <a href="#"><img src="/static/assets/images/collection-side-banner.png" alt=""></a>
                    </div>
                    <!--Banner-->

                </div>
            </div>
            <!--End Sidebar-->

            <!--Main Content-->
            <div class="col-12 col-sm-12 col-md-9 col-lg-9 main-col">


                <div class="category-banner">
                    <img src="/static/assets/images/collection-banner/collection-banner.jpg" data-src="/static/assets/images/collection-banner/collection-banner.jpg" alt="">
                </div>

                <!--Toolbar-->
                <div class="toolbar">
                    <div class="filters-toolbar-wrapper">
                        <div class="row">

                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center filters-toolbar__item filters-toolbar__item--count d-flex justify-content-center align-items-center">
                                <span class="filters-toolbar__product-count">Найдено: 0 товаров</span>
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="grid-products grid--view-items">
                        <div class="container">
                            <div>
                                <h2 class="text-center">Товары не найдены. Попробуйте позже.</h2>
                            </div>
                        </div>
                    </div>

                        </div>
                    </div>
                </div>
                <!--End Toolbar-->

                <!--Product Grid-->
                    <div class="grid-products grid--view-items">
                        <div class="row">



                        </div>
                    <!--End Product Grid-->
                    <!--Pagination Classic-->
                    <hr class="clear">
                        <div class="pagination">

</div>
                    <!--End Pagination Classic-->
                </div>
            </div>
            <!--End Main Content-->
        </div>

    </div><!--End Body Container-->

</div><!--End Page Wrapper-->


    <!--Footer-->
   	<div class="footer footer-10">
        <div class="container">
            <div class="footer-top clearfix">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 about-us-col">
                        <img src="/static/assets/images/footer-logo.png" alt="MIla&Iris"/>
                        <p>Казахстан, г. Алматы, ТРК Forum<br>пр. Сейфуллина, 617, 3 этаж</p>
                        <p><b>Номер</b>: +7 775 997-39-65</p>
                        <p><b>Email</b>: <a href="mailto:mila-iris@mila-iris.kz">mila_iris@mila_iris.kz</a></p>
                    </div>
                    <div class="col-12 col-sm-12 col-md-4 col-lg-3 footer-links">
                        <h4 class="h4">Quick Shop</h4>
                        <ul>
                            <li><a href="#">Women</a></li>
                            <li><a href="#">Men</a></li>
                            <li><a href="#">Kids</a></li>
                            <li><a href="#">Sportswear</a></li>
                            <li><a href="#">Sale</a></li>
                        </ul>
                    </div>
                    <div class="col-12 col-sm-12 col-md-4 col-lg-3 footer-links">
                        <h4 class="h4">Информация</h4>
                        <ul>
                            <li><a href="aboutus-style1.html">About us</a></li>
                            <li><a href="/accounts/login/">Login</a></li>
                            <li><a href="#">Privacy policy</a></li>
                            <li><a href="#">Terms &amp; condition</a></li>
                            <li><a href="/accounts/dashboard/">Мой аккаунт</a></li>
                        </ul>
                    </div>
                    <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                        <h4 class="h4">Stay Connected</h4>
                        <ul class="list--inline social-icons">
                            <li><a href="https://www.facebook.com/MilaIris-Almaty-101785574731322" target="_blank"><i class="icon icon-facebook"></i> Facebook</a></li>
                            <li><a href="https://www.instagram.com/milairis_almaty/" target="_blank"><i class="icon icon-instagram"></i> Instagram</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer footer-1 fbottom">
        <div class="container">
            <div class="footer-bottom clearfix">
                <ul class="payment-icons list--inline">
                    <li><i class="anm anm-cc-visa" aria-hidden="true"></i></li>
                    <li><i class="anm anm-cc-mastercard" aria-hidden="true"></i></li>
                    <li><i class="anm anm-cc-amex" aria-hidden="true"></i></li>
                    <li><i class="anm anm-cc-paypal" aria-hidden="true"></i></li>
                </ul>
                <div class="copytext">
                    &copy; 2021 MIla&Iris
                </div>
            </div>
        </div>
    </div>
    <!--End Footer-->
    <!--Scoll Top-->
    <span id="site-scroll"><i class="icon anm anm-arw-up"></i></span>
    <!--End Scoll Top-->

     <!-- Including Jquery -->
    <script src="/static/assets/js/vendor/jquery-3.3.1.min.js"></script>
    <script src="/static/assets/js/vendor/js.cookie.js"></script>
    <!-- Including Javascript -->
    <script src="/static/assets/js/plugins.js"></script>
    <script src="/static/assets/js/main.js"></script>


</body>
</html>