{% extends 'base.html' %}

{% load static recaptcha3 %}
{% load humanize %}

{% block title %}Купить {{ product.brand }} {{ product.category.name_for_product| lower}}{% if product.name_of_model %} - {{ product.name_of_model }}{% endif %}{% endblock %}

{% block style %}   {% recaptcha_init %}    {% recaptcha_ready action_name='homepage' %}    {% endblock style %}

{% block body %} class="template-product product-single-center-mode" style="padding-bottom: 0px;"{% endblock body %}

{% block content %}
<div id="page-content">
        <!--Body Container-->
    {% include 'product_inc/breadcrumbs.html' %}
    <!--End Breadcrumbs-->
    <div class="container">
        <div class="product-detail-container product-single-style1 product-single-style5">
            {% include 'inc/alerts.html' %}
            <div class="product-single">
                <div class="row">
                    {% include 'product_inc/images.html' %}
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="product-info-center">
                        {% include 'product_inc/price.html' %}
                        <hr>
                        {% include 'product_inc/add_button.html' %}
                        <hr>
                        <div class="type-product">
                            <p><span>Состав:</span> {{ product.structure }}</p>
                            <p><span>Производство:</span> {{ product.made_in }}</p>
                            {% for feature in product_features %}
                            <p><span>{{ feature.value }}:</span> {{ feature.key }}</p>
                            {% endfor %}
                            <p><span>Артикул:</span> {{ product.article }}</p>
                            <p>{{ product.description }}</p>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Product Tabs-->
        {% include 'product_inc/reviews.html' %}
        <!--End Product Tabs-->

    </div><!--End Body Container-->

</div><!--End Page Wrapper-->
{% endblock content %}

{% block script %}
    <script src="{% static 'assets/js/vendor/photoswipe.min.js' %}"></script>
	<script>
        $(function(){
            var $pswp = $('.pswp')[0],
                image = [],
                getItems = function() {
                    var items = [];
                    $('.lightboximages a').each(function() {
                        var $href   = $(this).attr('href'),
                            $size   = $(this).data('size').split('x'),
                            item = {
                                src : $href,
                                w: $size[0],
                                h: $size[1]
                            }
                            items.push(item);
                    });
                    return items;
                }
            var items = getItems();

            $.each(items, function(index, value) {
                image[index]     = new Image();
                image[index].src = value['src'];
            });
            $('.prlightbox').on('click', function (event) {
                event.preventDefault();

                var $index = $(".active-thumb").parent().attr('data-slick-index');
                $index++;
                $index = $index-1;

                var options = {
                    index: $index,
                    bgOpacity: 0.9,
                    showHideOpacity: true
                }
                var lightBox = new PhotoSwipe($pswp, PhotoSwipeUI_Default, items, options);
                lightBox.init();
            });
        });
        </script>
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>
        <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
                <div class="pswp__counter"></div>
                <button class="pswp__button pswp__button--close" title="Закрыть (Esc)"></button>
                <button class="pswp__button pswp__button--fs" title="На весь экран"></button>
                <button class="pswp__button pswp__button--zoom" title="Увеличить"></button>
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="pswp__button pswp__button--arrow--left" title="Назад (влево)"></button>
            <button class="pswp__button pswp__button--arrow--right" title="Вперед (вправо)"></button>
            <div class="pswp__caption"><div class="pswp__caption__center"></div></div>
        </div>
     </div>
    </div>
{% endblock script %}